.question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 0px 15px #d4d4d4;
  padding: 25px;
  border-radius: 10px;
  row-gap: 15px;
  width: 350px;
  min-height: 150px;
  max-height: 500px;
}

.question-tags {
  display: flex;
  column-gap: 15px;
}

.question-tag {
  background: #e0e0e0;
  border: transparent 2px solid;
  padding: 3px;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  color: #555555;
}

.difficulty {
  color: gray;
}

.language {
}

.question-tag:hover {
  cursor: pointer;
  color: black;
}

.question-title {
  font-size: 17px;
  font-weight: 600;
}

.show-answer-button {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e4e4e4;
  color: #555555;
  cursor: pointer;
  font-size: 14px;
}

.answer {
  color: #323f4b;
  margin-top: 15px;
  flex-grow: 1;
}
